<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Welcome</title>
</head>
<body>

<header>
    <h1>Hello, there</h1>
    <p style="text-align: center">To test the application all you've got is 5 options</p>
</header>

<body>
<nav>
<ul>
    <h2>Create User</h2>
    <li><i class="fas fa-plus-square"></i><button class="button hover"><a href="http://localhost:8080/create">Create User</a></button></li>
    <h2>Delete User By First Name</h2>
    <li><i class="fas fa-user-slash"></i><button class="button hover"><a href="http://localhost:8080/delete">Delete User By first name</a></button></li>
    <h2>Update Email of User By First Name</h2>
    <li><i class="fas fa-user-edit"></i><button class="button hover"><a href="http://localhost:8080/update">Update Email of User By First Name</a></button></li>
    <h2>Get User By First Id</h2>
    <li><i class="fab fa-get-pocket"></i><button class="button hover"><a href="http://localhost:8080/get">Get User By Id</a></button></li>
    <h2>Get All</h2>
    <li><i class="fab fa-get-pocket"></i><button class="button hover"><a href="http://localhost:8080/getAll">Get all Users</a></button></li>
</ul>
</nav>

</body>

</body>

</html>